# dependencies
node_modules/
.pnp/
.pnp.js
.yarn/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# next.js
.next/
out/

# env
.env
.env.*
!.env.example
.env*.local

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
Thumbs.db
*.pem
*.tsbuildinfo

# vercel
.vercel/

# IDE
.vscode/
.idea/
*.swp
*.swo

# temp / local artifacts
next
trading-app@0.1.0
*.tar.gz
